@font-face
{

    font-family:SHLYALLN;
    src: url(SHLYALLN.TTF);
}

@font-face
{

    font-family:CloisterBlackBT;
    src: url(CloisterBlackBT.ttf);
}


@font-face
{

    font-family:TwCenMTCondensedBold;
    src: url(TwCenMTCondensedBold.ttf);
}